.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FEFEFF;
}

.mat-sidenav {
  background: #6165F7;
  width: 300px;
  border-right: none;
  color: white;
  text-align: center;
}

/* MAIN CONTENT START */
.row {
  background: #F6F7F9;
  margin: 1.9% 10%;
  border-radius: 20px;
  display: block;
  height: 45%;
}
/* MAIN CONTENT END */

/* EVERYTHING ELSE */
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
