.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FEFEFF;
}

/* MENU START */
.mat-sidenav {
  background: #6165F7;
  width: 300px;
  border-right: none;
  color: white;
  text-align: center;
}

/* Menu title */
h1 {
  font-size: 25px;
  font-weight: 600;
  padding: 30px 0 0 0;
}

.mat-divider {
  border-top-width: 3px;
  margin: 30px 0 30px 0;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  padding: 10px 0 10px 30px;
  margin-bottom: 15px;
  border-left-style: solid;
  border-left-width: 4px;
}

/* Location and button toggle for degrees */
.menu-footer {
  position: absolute;
  bottom: 40px;
  margin-left: 30px;
  text-align: left;
}

:host .mat-button-toggle-group {
  margin-bottom: 20px;
  border-radius: 30px;
}

.location-indicator {
  background: #FEFEFF;
  border-radius: 30px;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 15px 30px;
}
/* MENU END */

/* MAIN CONTENT START */
.row {
  background: #F6F7F9;
  margin: 4% 10% 4%;
  border-radius: 20px;
  display: block;
  height: 40%;
}
/* MAIN CONTENT END */

/* EVERYTHING ELSE */
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
