<div class="column-40">
  <div class="column-40">
    <ic-icon [icon]="todayIcon" [color]="ICON_COLOR" [className]="today"></ic-icon>
  </div>
  <div class="column-60">
    <div class="todayDate">
      Saturday, 07 May
    </div>
    <div class="todayTemp">
      18°C
    </div>
  </div>
</div>
<div class="column-60">
  <div class="column-40">
    <div class="row-50">
      <ic-icon [icon]="humidityIcon" [color]="ICON_COLOR" [className]="smallIcon"></ic-icon>
      Humidity: 87%
    </div>
    <div class="row-50">
      <ic-icon [icon]="cloudinessIcon" [color]="ICON_COLOR" [className]="smallIcon"></ic-icon>
      Cloudiness: cloudy
    </div>
  </div>
  <div class="column-60">
    <div class="row-50">
      <ic-icon [icon]="pressureIcon" [color]="ICON_COLOR" [className]="smallIcon"></ic-icon>
      Pressure: 767 mmHg
    </div>
    <div class="row-50">
      <ic-icon [icon]="sunriseSunsetIcon" [color]="ICON_COLOR" [className]="smallIcon"></ic-icon>
      Sunrise: 06:01
      Sunset: 21:08
    </div>
  </div>
</div>
