.column-40 {
  width: 40%;
  float: left;
}

.column-60 {
  width: 60%;
  float: left;
}

.column-50 {
  width: 50%;
  float: left;
}

.row-50 {
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.todayIcon {
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.todayDate {
  font-size: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.todayTemp {
  margin-top: 20px;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.smallIcon {
  font-size: 70px;
  margin-right: 10px;
}
