<div class="column-40">
  <div class="column-40">
    <ic-icon [icon]="getIconClass(currentWeather.icon)" [color]="ICON_COLOR" [className]="today"></ic-icon>
  </div>
  <div class="column-60">
    <div class="todayDate">
      {{sunriseDate | date : 'EEEE, dd MMMM'}}
    </div>
    <div class="todayTemp">
      {{currentWeather.temperature}}°C
    </div>
  </div>
</div>
<div class="column-60">
  <div class="column-40">
    <div class="row-50">
      <ic-icon [icon]="humidityIcon" [color]="ICON_COLOR" [className]="smallIcon"></ic-icon>
      Humidity: {{currentWeather.humidity}}%
    </div>
    <div class="row-50">
      <ic-icon [icon]="cloudinessIcon" [color]="ICON_COLOR" [className]="smallIcon"></ic-icon>
      Description: {{currentWeather.description}}
    </div>
  </div>
  <div class="column-60">
    <div class="row-50" style="padding-left: 20px">
      <ic-icon [icon]="pressureIcon" [color]="ICON_COLOR" [className]="smallIcon"></ic-icon>
      Pressure: {{currentWeather.pressure}} hPa
    </div>
    <div class="row-50" style="padding-left: 20px">
      <ic-icon [icon]="sunriseSunsetIcon" [color]="ICON_COLOR" [className]="smallIcon"></ic-icon>
      Sunrise: {{sunriseDate | date : 'HH:mm'}}<br>
      Sunset: {{sunsetDate | date : 'HH:mm'}}
    </div>
  </div>
</div>
